In [1]:
#1 2 3 4 5 6 7 8 9 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
i = 1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(5):
    for j in range(5):
        print(i,end =" ")

0 0 0 0 0 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4

In [1]:
# loop statements:

"""
for loopvar in swq/ds:
    block of statements
    """

'\nfor loopvar in swq/ds:\n    block of statements\n    '

In [8]:
p = ["asdf","sdfsb","csdfs"]
for element in p:
    l=len(element)
    print(l)

4
5
5

In [11]:
p = [1,2,34,5,6,76,7,78,89,8]

even = []
odd = []
for i in p:
    if i%2 ==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 34, 6, 76, 78, 8]
[1, 5, 7, 89]

In [27]:
 p = str(["asfd23ew34rsdgsdhjmkjhgffrj77()97U&^Rytrgfd"])
num = []
char = []
spe =[]
for i in p:
    if i.isalnum():
        if i.isnumeric():
            num.append(i)
        else:
            char.append(i)
    else:
        spe.append(i)
print(num)
print(char)
print(spe)

['2', '3', '3', '4', '7', '7', '9', '7']
['a', 's', 'f', 'd', 'e', 'w', 'r', 's', 'd', 'g', 's', 'd', 'h', 'j', 'm', 'k', 'j', 'h', 'g', 'f', 'f', 'r', 'j', 'U', 'R', 'y', 't', 'r', 'g', 'f', 'd']
['[', "'", '(', ')', '&', '^', "'", ']']

In [14]:
p = [12,33,45,"f"]

In [15]:
for i in p:
    if str(i).isnumeric():
        print(i)
    else:
        break

12
33
45

In [24]:
# IMP QUESTION
p = [2,10,10,10,20,22,34,45,45,5634,3367,56,334]

d ={}
for i in p:
    if i in d:
        d[i]+=1
    else:
        d[i]=1 
print(d)

{2: 1, 10: 3, 20: 1, 22: 1, 34: 1, 45: 2, 5634: 1, 3367: 1, 56: 1, 334: 1}

In [33]:
#  Write a program to print all elements of a list using a for loop
l = [12,43,545,67,89,6,565,44,665,76,65,67,"abhi","ram","shyam"]

for i in l:
    print(i,end= " " )

12 43 545 67 89 6 565 44 665 76 65 67 abhi ram shyam

In [35]:
# Given a list of numbers, print only even numbers.

l = [1,2,4,5,6,7,85,54,3,5,6,7,5,4,4]

for i in l:
    if i % 2==0:
        print("Even :", i)

Even : 2
Even : 4
Even : 6
Even : 54
Even : 6
Even : 4
Even : 4

In [39]:
# Calculate the sum of all elements in a list without using sum()

l = [1,2,4,5,6,7,85,54,3,5,6,7,5,4,4]
sum = 0
for i in l:
    sum = sum + i
print(sum)

198

In [47]:
# Find the maximum and minimum number in a list using a loop.
l = [-331,2,4,5,6,-678,7,850,54,3,5,6,7000,5,4,4]
max = 0
min = 0
for i in l:
    if i>max:
        max = i
    elif min>i:
        min = i
print(max)
print(min)

7000
-678

In [57]:
# Reverse a list without using the reverse() method.

l = [-331,2,4,5,6,-678,7,850,54,3,5,6,7000,5,4,4]
lis = []
for i in range(len(l)-1,-1,-1):
    lis.append(l[i])
print(lis)

[4, 4, 5, 7000, 6, 5, 3, 54, 850, 7, -678, 6, 5, 4, 2, -331]

In [59]:
# Count how many times each element appears in a list.
l = [-331,2,4,5,6,-678,7,850,54,3,5,6,7000,5,4,4]
count = {}

for i in l:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

print(count)

{-331: 1, 2: 1, 4: 3, 5: 3, 6: 2, -678: 1, 7: 1, 850: 1, 54: 1, 3: 1, 7000: 1}

In [66]:
# Remove duplicates from a list without using set().

l = [-331,2,4,5,6,-678,7,850,54,3,5,6,7000,5,4,4]
lis=[]
for i in l:
    if i in lis:
        continue
    else:
         lis.append(i)
print(lis)

[-331, 2, 4, 5, 6, -678, 7, 850, 54, 3, 7000]

In [69]:
#  Given a list of strings, print only those with length greater than 5.
l = ["abhishek","ram","shreeraj","shubham","love"]
lis = []
for i in l:
    if len(i)>5:
        lis.append(i)
    else:
        continue
print(lis)

['abhishek', 'shreeraj', 'shubham']

In [70]:
#  Square every element in a list using a loop and store it in a new list.
l = [7,850,54,3,5,6,70,5,4,4]
lis = []
for i in l:
    lis.append(i*i)
print(lis)

[49, 722500, 2916, 9, 25, 36, 4900, 25, 16, 16]

In [79]:
 # Merge two lists element-wise (like [1,2,3] and [4,5,6] → [5,7,9]).
l1 = [1,2,3]
l2 = [2,3,4]
lis= []

for i in range(len(l1)):
    
    lis.append(l1[i]+l2[i])
print(lis)

[3, 5, 7]

In [91]:
# Create a dictionary from two lists — one for keys, one for values.
l1 = [1,2,3]
l2 = [2,3,4]

dis = {}
for i in range(len(l1)):
    dis[l1[i]] = l2[i]
print(dis)

{1: 2, 2: 3, 3: 4}

In [99]:
# Write a program to count frequency of each character in a string and store it in a dictionary.

string = "hello"
dis={}
for i in string:
    if i in dis:
        dis[i] +=1
    else:
        dis[i] = 1
print(dis)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [107]:
#  Given a dictionary of student names and marks, print all students who scored more than 75.

dis = {
    "abhi":100,
    "raj": 98,
    "avi":99,
    "mohit":24,
    "yash":45,
    "rohan":100}

for i in dis:
    if dis[i] >= 50:
        print(i,dis[i])
    else:
        continue

abhi 100
raj 98
avi 99
rohan 100

In [ ]:
#  Sort a dictionary by its values in ascending order.
dis = {
    "abhi":100,
    "raj": 98,
    "avi":99,
    "mohit":24,
    "yash":45,
    "rohan":100}

for i in dis:

In [120]:
# Merge two dictionaries — if key exists in both, sum their values.

dis1 = {
    "abhi":100,
    "raj": 98,
    "avi":99,
    "mohit":24,
    "yash":45,
    "rohan":100
}
dis2 = {
    "abhi":100,
    "raj": 98,
    "avi":99,
    "mohit":24,
    "yash":45,
    }

dis = {}

for i,j in dis1.items():
    if i in dis2:
        dis[i] = dis1[i]+dis2[i]
    else:
        continue
print(dis)

{'abhi': 200, 'raj': 196, 'avi': 198, 'mohit': 48, 'yash': 90}

In [123]:
# Find the key with the maximum value in a dictionary.
dis1 = {
    "abhi":98,
    "raj": 98,
    "avi":100,
    "mohit":24,
    "yash":45,
    "rohan":10
}
max = 0
for i,j in dis1.items():
    if max<j:
        max = j
    else:
        continue
print(max)

100

In [124]:
#  Invert a dictionary (keys become values and vice versa).

dis1 = {
    "abhi":98,
    "raj": 98,
    "avi":100,
    "mohit":24,
    "yash":45,
    "rohan":10
}
dis={}
for i,j in dis1.items():
    dis[j]= i
print(dis)

{98: 'raj', 100: 'avi', 24: 'mohit', 45: 'yash', 10: 'rohan'}

In [6]:
# Create a nested dictionary to store student details (name, roll, marks) and print them nicely.



a = "1,2,3,4"
for i in a:
    if i.isnumeric():
        continue
    else:

AttributeError: 'str' object has no attribute 'remove'

In [21]:
p = "kad"
rev = ""
for i in range(-1,-len(p)-1,-1):
    rev+=p[i]
print(rev)
if rev == p:
    print("palindrom")
else:
    print("not")

dak
not

In [33]:
li  = [1,22,3,46,751,2,3,4,4,6,74,346,7,75,5]
l1=[]
l2 = []
#1.unique
#2.duplicate

for i in li:
    if i not in l1:
       l1.append(i) 
    else:
        pass

print(l1)

[1, 22, 3, 46, 751, 2, 4, 6, 74, 346, 7, 75, 5]

In [32]:
p = [('apple',546),('hp',6565),("dell",767),("apple",6565),('hp',76767)]

1.[("apple",[546,6565]),("hp",[6565,76767])....]
2.[("apple",71170),("hp",83332).....]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3398629712.py, line 3)

In [74]:
p = "the python book"
l1=[]
l1.extend(p.split(" "))
temp

'python'

In [79]:
for i in range(0,3):
    if i==0:
       continue
    elif i==1:
        l1[i] = l1[i+2]
        
    elif i==2:
        l1[i-1] = l1[i]
        
print(l1)

['python', 'book', 'book']

In [16]:
p = [10 ," ",20,None,0,50]

for i in p:
    if i ==" " or i == None:
        p.insert(p[i],"NA")
    else:
        continue
print(p)

TypeError: list indices must be integers or slices, not str

In [7]:
# 1. Find the average packet size in data_sizes = [100, 200, 300, 400, 500] using a loop.

data_sizes = [100, 200, 300, 400, 500]
avr = 0

for i in data_sizes:
    avr = avr + i 
print(avr/len(data_sizes))

300.0

In [13]:
 # 2 Print only .csv files from files = ['sales.csv', 'data.txt', 'records.csv', 'notes.docx'].
files = ['sales.csv', 'data.txt', 'records.csv', 'notes.docx']
f = []
for i in files:
    if i.endswith(".csv"):
        f.append(i)
    else:
        pass
f

['sales.csv', 'records.csv']

In [16]:
# 3. Remove duplicates from readings = [23, 45, 23, 67, 45, 90]

def duplicate():
    readings = [23, 45, 23, 67, 45, 90]
    file = []
    for i in readings:
        if i in file:
            continue
        else:
            file.append(i)
    print(file)

duplicate()

[23, 45, 67, 90]

In [30]:
# 4. Combine columns = ['id', 'name', 'age', 'salary'] and types = ['int', 'str', 'int', 'float'] into a dictionary.

def combine():
    columns = ['id', 'name', 'age', 'salary']
    types = ['int', 'str', 'int', 'float']
    dis = {}
    for i in range(len(columns)):
        dis[columns[i]]= types[i]
    print(dis)
combine()

{'id': 'int', 'name': 'str', 'age': 'int', 'salary': 'float'}

In [37]:
# 5. Count None values in values = [10, None, 20, None, 30, 40].
values = [10, None, 20, None, 30, 40]
count = 0
for i in values:
    if None == i:
        count+=1
count

2

In [41]:
# 6. Convert csv_data = '1,2,3,4,5' into a list of integers.

csv_data = '1,2,3,4,5'
lis= []

for i in csv_data:
    if i.isnumeric():
        lis.append(int(i))
    else:
        continue
lis

[1, 2, 3, 4, 5]

In [42]:
# 7. Create a dictionary from cols = ['name', 'age', 'city'] and data = ['Amit', 25, 'Delhi']
cols = ['name', 'age', 'city'] 
data = ['Amit', 25, 'Delhi']
dis = {}

for i in range(len(cols)):
    dis[cols[i]]= data[i]
dis

{'name': 'Amit', 'age': 25, 'city': 'Delhi'}

In [54]:
# 8. Check if all elements of sensor_ids = (101, 102, 103) exist in master_ids = {100, 101, 102, 104}.
sensor_ids = (101, 102, 103)
master_ids = {100, 101, 102, 104}

if set(sensor_ids).issubset(master_ids):
    print("yes")
else:
    print("no")

no

In [58]:
# 9. Find the maximum temperature in temps = [32, 28, 35, 30, 40] using a loop
def max():
    temps = [32, 28, 35, 30, 40,77,56]
    max = 0
    for i in temps:
        if i>max:
            max = i
        else:
            continue
    print(max)

max()

77

In [59]:
''' 10. Print table names starting with 'dim_' from tables = ['dim_user', 'fact_sales', 'stg_data',
'dim_product'].
'''
tables = ['dim_user', 'fact_sales', 'stg_data',
'dim_product']

for i in tables:
    if i.startswith('dim_'):
        print(i)
    else:
        continue

dim_user
dim_product

In [70]:
# 11. Count unique cities in records = [('Pune', 25), ('Delhi', 30), ('Pune', 28)].

records = [('Pune', 25), ('Delhi', 30), ('Pune', 28)]
l1=[]
for i in records:
    if i[0] not in l1:
        l1.append(i[0])
    else:
        continue
print(l1)

['Pune', 'Delhi']

In [73]:
# 12. Sort timestamps = ['2023-01-02', '2022-12-31', '2023-01-01'] in ascending order
timestamps = ['2023-01-02', '2022-12-31', '2023-01-01']
timestamps.sort()

In [74]:
timestamps

['2022-12-31', '2023-01-01', '2023-01-02']

In [97]:
# 13. Merge config1 = {'host': 'localhost', 'port': 3306} and config2 = {'user': 'admin', 'password':
# '1234'}




config1 = {'host': 'localhost', 'port': 3306}
config2 = {'user': 'admin', 'password': '1234'}

#c = config1 + config2
'''for i in config1.items():
    if i not in config2:
        config2[i] = dict(i)
print(config2)'''

config2.update(config1)

In [99]:
config2

{'user': 'admin', 'password': '1234', 'host': 'localhost', 'port': 3306}

In [103]:
# 14. Replace empty or None values in data = [10, '', 20, None, 0, 50] with 'NA'

data = [10, '', 20, None, 0, 50]

for i in data:
    if (i == '' or i == None):
        data.remove(i)
    else:
        continue
data

[10, 20, 0, 50]

In [113]:
# 15. Check if col_name = 'employee id' is valid (no spaces).

col_name = 'employeeid'
for i in col_name:
    if i == " ":
        print("not valid")
        break
else:
    print("valid")

valid

In [116]:
# 16. Create a list of squares of even numbers from nums = [1, 2, 3, 4, 5, 6]

nums = [1, 2, 3, 4, 5, 6]

num1=[]

for i in nums:
    if i%2==0:
        num1.append(i*i)
    else:
        continue
print(num1)

[4, 16, 36]

In [126]:
# 17. Extract all 'id' values from data_rows = [{'id': 1}, {'id': 2}, {'id': 3}].
data_rows = [{'id': 1}, {'id': 2}, {'id': 3}]
l = []
for i in data_rows:
    print(i.get('id'))

1
2
3

In [128]:
# 18. Count how many column names contain 'a' in columns = ['id', 'name', 'salary', 'status']

columns = ['id', 'name', 'salary', 'status']

for i in columns:
    if 'a' in i:
        print(i)

name
salary
status

In [130]:
# 19. Keep only words longer than 4 characters in words = ['data', 'python', 'analytics', 'ai', 'bigdata'].

words = ['data', 'python', 'analytics', 'ai', 'bigdata']

for i in words:
    if len(i)>4:
        print(i)

python
analytics
bigdata

In [137]:
# 20. Count vowels in text = 'Database'.

text = 'Database'
count=0
for i in text:
    if (i == 'a'or i=='i'or i=='e'or i=='o'or i=='u'):
        count += 1
count

4

In [138]:
# 21. Find cumulative sum of amounts = [100, 200, 50, 150].

amounts = [100, 200, 50, 150]
sum = 0

for i in amounts:
    sum = sum+i
print(sum)

500

In [141]:
# 22. Check if 'sales' and '2024' exist in file = 'sales_2024_report.csv'.
file = 'sales_2025_report.csv'

if 'sales' in file and '2024' in file:
    print("present")
else:
    print("not")

not

In [147]:
# 23. Create dictionary from ids = [101, 102, 103] and totals = [500, 700, 300].
ids = [101, 102, 103]
totals = [500, 700, 300]
dis={}
for key in range(len(ids)):
    dis[ids[key]] = totals[key]
dis

{101: 500, 102: 700, 103: 300}

In [161]:
# 24. Check if list1 = [1, 2, 3, 4] and list2 = [4, 3, 2, 1] contain same unique values.

list1 = [1, 2, 3, 4]
list2 = [4, 3,3, 2, 1,5,6]
l=[]
for i in list1:
    if i in list2:
        l.append(i)
    else:
        continue
l

[1, 2, 3, 4]

In [166]:
# 25. Flatten nested = [[1, 2], [3, 4], [5, 6]] into one list

nested = [[1, 2], [3, 4], [5, 6]]
l =[]
for i in nested:
    l.append(i[0])
    l.append(i[1])
l

[1, 2, 3, 4, 5, 6]

In [168]:
# 26. Print only Gmail addresses from emails = ['a@gmail.com', 'b@yahoo.com', 'c@gmail.com'].

emails = ['a@gmail.com', 'b@yahoo.com', 'c@gmail.com']
for i in emails:
    print(i.split("@")[0])

a
b
c

In [170]:
# 27. Count numeric strings in values = ['10', 'abc', '20', 'xyz', '30'].

values = ['10', 'abc', '20', 'xyz', '30']
count = 0
for i in values:
    if i.isnumeric():
        count+=1
count

3

In [172]:
# 28. Convert cols = ('id', 'name', 'city') into a list and add 'salary'.
cols = list(('id', 'name', 'city'))
cols

['id', 'name', 'city']

In [174]:
key = ['id','value']

for i in key:
    print(key.count(i))

1
1

In [21]:

l = [1,2,3,4,5]
max1 = max(l)
print("max :",max1)
smax = 0 
for i in l:
    if i>smax and i != max1:
        smax =i 
        
print("smax :",smax)

max : 5
smax : 4

In [42]:
l = [2,3,77,1,0,4,5]
max1 = 0
min1 = l[0]

for i in l:
    if i > max1:
        max1=i
    if i < min1:
        min1 =i

print(max1)
print(min1)

77
0

In [52]:
# write a program to count the number of digits in a given number


# num = 123412
# digit = 6

num = 12345612
s = str(num)
string = ""

for i in s:
    if i not in string:
        string += i
    

len(string)

6

In [53]:
num1 = int(input("Enter number:")
num2 = int(input("Enter number:")
num3 = int(input("Enter number:")

if num1>num2:

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2604766050.py, line 1)

In [57]:
num1 = int(input("Enter number:"))
num2 = int(input("Enter number:"))
num3 = int(input("Enter number:"))

if num1>num2:
    if num1>num3:
        print(num1)
    else:
        print(num3)
else:
    if num2>num3:
        print(num2)
    else:
        print(num3)

Enter number: 120
Enter number: 1230
Enter number: 12212

12212

In [67]:
num = 4

for i in range(2,num):
    if num%i==0:
        print("not prime")
        break
else:
    print("prime")

not prime

In [72]:
string = "abhi"
rev=""
for i in range(-1,-len(string)-1,-1):
    rev = rev + string[i] 
print(rev)

ihba

In [16]:
# 3> write a program to find the frequency of each character in a string

string = "abhihiar"
dis={}
for i in string:
    if i in dis:
        dis[i] += 1
    else:
        dis[i] = 1

In [17]:
dis

{'a': 2, 'b': 1, 'h': 2, 'i': 2, 'r': 1}

In [20]:
# 28. Convert cols = ('id', 'name', 'city') into a list and add 'salary'.
cols = list(('id', 'name', 'city'))
cols.append('salary')








cols

['id', 'name', 'city', 'salary']

In [23]:
# 29. Count frequency of each character in word = 'engineering'.

word = 'engineering'

dis = {}

for i in word:
    if i in dis:
        dis[i] += 1
    else:
        dis[i]= 1

dis

{'e': 3, 'n': 3, 'g': 2, 'i': 2, 'r': 1}

In [29]:
# 30. Print cities with temperature >30 in temps = {'Delhi': 35, 'Pune': 28, 'Mumbai': 33}.
temps = {'Delhi': 35, 'Pune': 28, 'Mumbai': 33}

for i,j in temps.items():
    if j>30:
        print(i)

Delhi
Mumbai

In [39]:
# 31. Combine lists c1 = ['id', 'name'] and c2 = ['age', 'salary', 'id'] into one set.
c1 = ['id', 'name']
c2 = ['age', 'salary', 'id']
c1.extend(c2)
print(c1)
result = set(c1)
print(result)
type(result)

['id', 'name', 'age', 'salary', 'id']
{'id', 'salary', 'age', 'name'}

set

In [15]:
# 34. Count columns starting with 'user_' in header = 'id,user_name,user_age,user_city'.
header = 'id,user_name,user_age,user_city'
for i in header.split(','):
    if i.startswith('user_'):
        print(i)

user_name
user_age
user_city

In [18]:
# 35. Create dictionary mapping each column to index in columns = ['id', 'name', 'salary'].
columns = ['id', 'name', 'salary']
dis={}
for i in columns:
    dis[i]= columns.index(i)
dis

{'id': 0, 'name': 1, 'salary': 2}

In [19]:
# 36. Merge set1 = {1, 2, 3}, set2 = {3, 4, 5}, and set3 = {5, 6, 1} into one set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 1}

set1.union(set2,set3)

{1, 2, 3, 4, 5, 6}

In [ ]:
# 37. Print prime numbers from numbers = [2, 3, 4, 5, 6, 7].

numbers = [2, 3, 4, 5, 6, 7]

for i in number:
    if i % 2 == 0: